<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{returnLoaning.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{returnLoaning.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/returnLoanings}" class="btn btn-secondary">[[#{returnLoaning.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('returnLoaning')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='returnLoaning', field='idReturnLoaning', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='returnLoaning', field='returnDate', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='returnLoaning', field='loaning', type='select')}" />
                <input type="submit" th:value="#{returnLoaning.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
