<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{author.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{author.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/authors}" class="btn btn-secondary">[[#{author.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('author')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='author', field='idAuthor', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='author', field='name', required=true)}" />
                <input type="submit" th:value="#{author.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
