<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{author.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{author.list.headline}]]</h1>
                <div>
                    <a th:href="@{/authors/add}" class="btn btn-primary ms-2">[[#{author.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${authors.empty}">[[#{author.list.empty}]]</div>
            <div th:if="${!authors.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{author.idAuthor.label}]]</th>
                            <th scope="col">[[#{author.name.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="author : ${authors}">
                            <td>[[${author.idAuthor}]]</td>
                            <td>[[${author.name}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/authors/edit/{idAuthor}(idAuthor=${author.idAuthor})}" class="btn btn-sm btn-secondary">[[#{author.list.edit}]]</a>
                                    <form th:action="@{/authors/delete/{idAuthor}(idAuthor=${author.idAuthor})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{author.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
