<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard}">
    <head>
        <title>[[#{copyBook.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div style="height:50px"></div>
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{copyBook.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/copyBooks}" class="btn btn-secondary">[[#{copyBook.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('copyBook')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='idCopyBook', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='language')}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='isbn', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='editDate', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='pageNumber', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='cover')}" />
                <div th:replace="~{fragments/forms::inputRow(object='copyBook', field='book', type='select')}" />
                <input type="submit" th:value="#{copyBook.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
