<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{bookCategory.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{bookCategory.list.headline}]]</h1>
                <div>
                    <a th:href="@{/bookCategories/add}" class="btn btn-primary ms-2">[[#{bookCategory.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${bookCategories.empty}">[[#{bookCategory.list.empty}]]</div>
            <div th:if="${!bookCategories.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{bookCategory.idBookCategory.label}]]</th>
                            <th scope="col">[[#{bookCategory.category.label}]]</th>
                            <th scope="col">[[#{bookCategory.book.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bookCategory : ${bookCategories}">
                            <td>[[${bookCategory.idBookCategory}]]</td>
                            <td>[[${bookCategory.category}]]</td>
                            <td>[[${bookCategory.book}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/bookCategories/edit/{idBookCategory}(idBookCategory=${bookCategory.idBookCategory})}" class="btn btn-sm btn-secondary">[[#{bookCategory.list.edit}]]</a>
                                    <form th:action="@{/bookCategories/delete/{idBookCategory}(idBookCategory=${bookCategory.idBookCategory})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{bookCategory.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
