<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard}">
    <head>
        <title>[[#{book.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div style="height:50px"></div>
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{book.add.headline}]]</h1>
                <div>
                    <a th:href="@{/books}" class="btn btn-secondary">[[#{book.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('book')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='book', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='book', field='summary')}" />
                <div th:replace="~{fragments/forms::inputRow(object='book', field='collection')}" />
                <div th:replace="~{fragments/forms::inputRow(object='book', field='coteNumber', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='book', field='releaseDate', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='book', field='author')}" />
                <input type="submit" th:value="#{book.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
