<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard}">
    <head>
        <title>[[#{copyBook.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:if="${error != null}" class="alert alert-info">
                <p th:text="${error}"></p>
            </div>
            <div class="row">
                <!-- Card for Book -->
                <div class="col-md-4 mb-4">
                    <div class="card card-book">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${book.title}"></h5>
                            <h6 class="card-text" th:text="${book.author}"></h6>
                            <br>
                            <p class="card-text" th:text="${book.summary}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{copyBook.list.headline}]]</h1>
                <div>
                    <a th:href="@{/copyBooks/add/{idBook}(idBook=${bookValue})}" class="btn  button-52 ms-2">[[#{copyBook.list.createNew}]]</a>
                </div>
            </div>
            <div class="card p-4">
                 <div th:if="${copyBooks.empty}">[[#{copyBook.list.empty}]]</div>

                <div th:if="${!copyBooks.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{copyBook.idCopyBook.label}]]</th>
                            <th scope="col">[[#{copyBook.cover.label}]]</th>
                            <th scope="col">[[#{copyBook.editDate.label}]]</th>
                            <th scope="col">[[#{copyBook.isbn.label}]]</th>
                            <th scope="col">[[#{copyBook.language.label}]]</th>
                            <th scope="col">[[#{copyBook.pageNumber.label}]]</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="copyBookData : ${copyBooks}">
                            <td th:text="${copyBookData[0]}"></td>
                            <td>
                                <img th:src="@{'/images/upload/' + ${copyBookData[1]}}"
                                     alt="Cover Image"
                                     style="max-width: 100px; max-height: 100px;"/>
                            </td>
                            <td th:text="${copyBookData[2]}"></td>
                            <td th:text="${copyBookData[3]}"></td>
                            <td th:text="${copyBookData[4]}"></td>
                            <td th:text="${copyBookData[5]}"></td>
                            <td>
                                <span th:if="${copyBookData[7] == 1}" class="badge bg-success">Available</span>
                                <span th:if="${copyBookData[7] == 0}" class="badge bg-danger">Not Available</span>
                            </td>
                            <td>
                                <span th:if="${copyBookData[7] == 1}"><a th:href="@{/loanings/create-form/{idCopyBook}(idCopyBook=${copyBookData[0]})}" class="btn btn-sm btn-dark button-52">Loan</a></span>
                                <span th:if="${copyBookData[7] == 0}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </body>
</html>
