<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{loaning.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{loaning.add.headline}]]</h1>
                <div>
                    <a th:href="@{/loanings}" class="btn btn-secondary">[[#{loaning.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('loaning')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='loaning', field='loaningDate', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loaning', field='expectedReturnDate', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loaning', field='member', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loaning', field='copyBook', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loaning', field='typeLoaning', type='select')}" />
                <input type="submit" th:value="#{loaning.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
