<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Loan Form</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .card {
            margin-bottom: 20px;
        }

        .form-control:focus {
            border-color: #495057;
            box-shadow: none;
        }

        .btn-primary {
            background-color: #343a40;
            border: none;
        }

        .btn-primary:hover {
            background-color: #495057;
        }
    </style>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Book Title</h5>
                        <p class="card-text" th:text="${book.title}"></p>
                        <hr>
                        <h5 class="card-title">Author Name</h5>
                        <p class="card-text" th:text="${book.author}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CopyBook Number</h5>
                        <p class="card-text" th:text="${copyBook.idCopyBook}"></p>
                        <hr>
                        <h5 class="card-title">ISBN</h5>
                        <p class="card-text" th:text="${copyBook.isbn}"></p>
                        <hr>
                        <h5 class="card-title">Edition Date</h5>
                        <p class="card-text" th:text="${copyBook.editDate}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${error != null}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        <form th:action="@{/loanings/create}" method="post" th:object="${loaning}">
            <input type="hidden" th:name="copyBook" th:value="${copyBook.idCopyBook}" />
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="memberId" class="form-label">Member Identification</label>
                        <input type="text" class="form-control" id="memberId" th:field="*{member}" placeholder="Enter Member ID" required>
                    </div>
                    <div class="mb-3">
                        <label for="loanDate" class="form-label">Loaning Date</label>
                        <input type="datetime-local" class="form-control" id="loanDate" th:field="*{loaningDate}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="loanType" class="form-label">Loan Type</label>

                        <div th:each="loaningType : ${loaningTypes}" class="form-check">
                            <input class="form-check-input" type="radio" name="typeLoaning" th:id="${loaningType.name}" th:value="${loaningType.idTypeLoaning}" checked>
                            <label class="form-check-label" th:for="${loaningType.name}" th:text="${loaningType.name}"></label>
                        </div>
                     
                        <!-- Hidden input field to store the selected value -->
                        <input type="hidden" th:field="*{idLoaning}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
