<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard}">
    <head>
        <title>[[#{member.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{member.add.headline}]]</h1>
                <div>
                    <a th:href="@{/members}" class="btn button-52">[[#{member.add.back}]]</a>
                </div>
            </div>
            <div class="card card-background">
                <div th:replace="~{fragments/forms::globalErrors('member')}" />
                <form th:action="${requestUri}" method="post">
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='name', required=true)}" />
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='birth', required=true, inputClass='js-datetimepicker')}" />
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='identifiant', required=true)}" />
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='address')}" />
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='dateRegister', required=true, inputClass='js-datetimepicker')}" />
                    <div th:replace="~{fragments/forms::inputRow(object='member', field='typeMember', type='select')}" />
                    <input type="submit" th:value="#{member.add.headline}" class="btn btn-primary mt-4" />
                </form>
        </div>
        </div>
    </body>
</html>
