<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{librarian.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{librarian.list.headline}]]</h1>
                <div>
                    <a th:href="@{/librarians/add}" class="btn btn-primary ms-2">[[#{librarian.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${librarians.empty}">[[#{librarian.list.empty}]]</div>
            <div th:if="${!librarians.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{librarian.idLibrarian.label}]]</th>
                            <th scope="col">[[#{librarian.name.label}]]</th>
                            <th scope="col">[[#{librarian.pwd.label}]]</th>
                            <th scope="col">[[#{librarian.role.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="librarian : ${librarians}">
                            <td>[[${librarian.idLibrarian}]]</td>
                            <td>[[${librarian.name}]]</td>
                            <td>[[${librarian.pwd}]]</td>
                            <td>[[${librarian.role}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/librarians/edit/{idLibrarian}(idLibrarian=${librarian.idLibrarian})}" class="btn btn-sm btn-secondary">[[#{librarian.list.edit}]]</a>
                                    <form th:action="@{/librarians/delete/{idLibrarian}(idLibrarian=${librarian.idLibrarian})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{librarian.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
