<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{typeMember.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{typeMember.list.headline}]]</h1>
                <div>
                    <a th:href="@{/typeMembers/add}" class="btn btn-primary ms-2">[[#{typeMember.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${typeMembers.empty}">[[#{typeMember.list.empty}]]</div>
            <div th:if="${!typeMembers.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{typeMember.idTypeMember.label}]]</th>
                            <th scope="col">[[#{typeMember.name.label}]]</th>
                            <th scope="col">[[#{typeMember.nbLoaningDays.label}]]</th>
                            <th scope="col">[[#{typeMember.coeffSanction.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="typeMember : ${typeMembers}">
                            <td>[[${typeMember.idTypeMember}]]</td>
                            <td>[[${typeMember.name}]]</td>
                            <td>[[${typeMember.nbLoaningDays}]]</td>
                            <td>[[${typeMember.coeffSanction}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/typeMembers/edit/{idTypeMember}(idTypeMember=${typeMember.idTypeMember})}" class="btn btn-sm btn-secondary">[[#{typeMember.list.edit}]]</a>
                                    <form th:action="@{/typeMembers/delete/{idTypeMember}(idTypeMember=${typeMember.idTypeMember})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{typeMember.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
