<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{theme.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{theme.list.headline}]]</h1>
                <div>
                    <a th:href="@{/themes/add}" class="btn btn-primary ms-2">[[#{theme.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${themes.empty}">[[#{theme.list.empty}]]</div>
            <div th:if="${!themes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{theme.idTheme.label}]]</th>
                            <th scope="col">[[#{theme.name.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="theme : ${themes}">
                            <td>[[${theme.idTheme}]]</td>
                            <td>[[${theme.name}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/themes/edit/{idTheme}(idTheme=${theme.idTheme})}" class="btn btn-sm btn-secondary">[[#{theme.list.edit}]]</a>
                                    <form th:action="@{/themes/delete/{idTheme}(idTheme=${theme.idTheme})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{theme.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
