<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">[[#{home.index.headline}]]</h1>
            <p>[(#{home.index.text})]</p>
            <p class="mb-5">
                <span>[[#{home.index.swagger}]]</span>
                <a th:href="@{/swagger-ui.html}" target="_blank">[[#{home.index.swagger.link}]]</a>.
            </p>
            <div class="col-md-4 mb-5">
                <h4 class="mb-3">[[#{home.index.exploreEntities}]]</h4>
                <div class="list-group">
                    <a th:href="@{/members}" class="list-group-item list-group-item-action">[[#{member.list.headline}]]</a>
                    <a th:href="@{/categories}" class="list-group-item list-group-item-action">[[#{category.list.headline}]]</a>
                    <a th:href="@{/themes}" class="list-group-item list-group-item-action">[[#{theme.list.headline}]]</a>
                    <a th:href="@{/bookThemes}" class="list-group-item list-group-item-action">[[#{bookTheme.list.headline}]]</a>
                    <a th:href="@{/books}" class="list-group-item list-group-item-action">[[#{book.list.headline}]]</a>
                    <a th:href="@{/typeMembers}" class="list-group-item list-group-item-action">[[#{typeMember.list.headline}]]</a>
                    <a th:href="@{/typeLoanings}" class="list-group-item list-group-item-action">[[#{typeLoaning.list.headline}]]</a>
                    <a th:href="@{/copyBooks}" class="list-group-item list-group-item-action">[[#{copyBook.list.headline}]]</a>
                    <a th:href="@{/bookMembers}" class="list-group-item list-group-item-action">[[#{bookMember.list.headline}]]</a>
                    <a th:href="@{/loanings}" class="list-group-item list-group-item-action">[[#{loaning.list.headline}]]</a>
                    <a th:href="@{/sanctions}" class="list-group-item list-group-item-action">[[#{sanction.list.headline}]]</a>
                    <a th:href="@{/authors}" class="list-group-item list-group-item-action">[[#{author.list.headline}]]</a>
                    <a th:href="@{/bookCategories}" class="list-group-item list-group-item-action">[[#{bookCategory.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
