<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{bookTheme.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{bookTheme.list.headline}]]</h1>
                <div>
                    <a th:href="@{/bookThemes/add}" class="btn btn-primary ms-2">[[#{bookTheme.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${bookThemes.empty}">[[#{bookTheme.list.empty}]]</div>
            <div th:if="${!bookThemes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{bookTheme.idBookTheme.label}]]</th>
                            <th scope="col">[[#{bookTheme.theme.label}]]</th>
                            <th scope="col">[[#{bookTheme.book.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bookTheme : ${bookThemes}">
                            <td>[[${bookTheme.idBookTheme}]]</td>
                            <td>[[${bookTheme.theme}]]</td>
                            <td>[[${bookTheme.book}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/bookThemes/edit/{idBookTheme}(idBookTheme=${bookTheme.idBookTheme})}" class="btn btn-sm btn-secondary">[[#{bookTheme.list.edit}]]</a>
                                    <form th:action="@{/bookThemes/delete/{idBookTheme}(idBookTheme=${bookTheme.idBookTheme})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{bookTheme.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
